# apiVersion: external-secrets.io/v1alpha1
# kind: ExternalSecret
metadata:
  name: example-aws
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: secretstore-sample
    kind: SecretStore
  target:
    name: /etc/environment
    creationPolicy: Owner
  data:
  - secretKey: demo-key
    remoteRef:
      key: demo-simple
